---
title: Welcome to Middleman
---
<%= partial 'navbar' %>

<h1>
  My website
</h1>
<%= link_to 'My Site', '/test' %>

<%= link_to(
  "Read Documentation",
  "https://middlemanapp.com/basics/templating_language/",
  target: "_blank"
) %>
